body{
background: url('http://i.imgur.com/x0ESsU4.jpg') center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size: cover;
}


/*body {
   background-image:url('http://4.bp.blogspot.com/-ZoLLbDLlnho/Utazvaj6ZbI/AAAAAAAAQ0Q/ZS-cK7KTTbM/s1600/Bamse%20och%20tjuvstaden%204.jpg');
   background-attachment:fixed;
   background-repeat:no-repeat;
   background-size:auto;
   width:100%;
   height:200%;

}*/
.headerIMG {
    /*height: 200px;*/
}

.center {
    margin-left: 30%;
}



/*.anchor {

        background-color:turquoise;
        box-shadow:white 2px 2px 2px;
        
}*/

        /*
.red{
    color:red;
}*/



.link {
  font-family: arial;
  font-weight: bold;
  color: #FFFF00 !important;
  font-size: 16px;
  box-shadow: 1px 1px 1px #F9F9F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #A3A3A3;
  background: #FF0303;

}


/*.color {
    background-color:red;*/


/*.h1 {
    color: red;
}*/

.imglink {
    text-decoration:none;
}

/*img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;

}

.knapp {
    float: left;
    margin-left:320px;
    margin-top: -400px;
    z-index:2;
}

.startimg {
    z-index:1;
}*/

.KortypLBL {    color: black !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
   
     padding-top : 15px;
}

.KortNummer {
       color: black !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
   position : relative;
  
}
KortNumBox {
    position : relative;
}

.PTLabels {
   background-color: #1E90FF;
    color: white !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
    border-radius: 5px;
}

.TackF {
    font-family: Verdana, Arial;
    font-size : xx-large;
    font-weight : bold;
    color : #646363;
    
}
.row-hoger {
float:right;


}

.row-vanster {
float: left;


}

.panel {
    opacity: 0.9;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px black;
}

.newSagaIMG {
    float:left;
    margin-right: 170px;
    margin-top: 30px;
}

.menuitem {
    margin: 0 0 20px 0;
}

.gbtn {
    margin:auto;
    width : 130px;
    height : 70px;
    font-weight : bold;
    font-size : 15px;
    background-color : #6bd851;
    color : white;
    border-width: 2px;
    cursor:pointer;
    border-radius: 5px;
}
.gbtn2 {
    
    width : 170px;
    height : 70px;
    font-weight : bold;
    font-size : 15px;
    background-color : #6bd851;
    color : white;
    border-width: 2px;
    /*border-radius:3px;*/

}
.avbrytBtn {
    width : 120px;
    height : 70px;
    font-weight : bold;
    font-size : 15px;
    background-color :#e5e5e5; 
    border-width: 2px;
    border-radius : 3px;
    text-shadow:white;
    cursor:pointer;
    color:black;
}


.payIMG {
    height : 50px;
}

.BetButton {
    margin: auto;
    width: 170px;
    height: 80px;
    font-size: 15px;
    /*font-family :  Arial;*/
    background-color: #1231ee;
    color: white;
    border-width: 5px;
   
}
 
    
    /*Paneler*/

.panelGreen {
 border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #a3fc65; 
  *zoom :1;
}

.panelW{
  
  border-style: solid;
  border-width: 1px;
  border-color: #F9F9F9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #F9F9F9; 
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  
}
.ItemTemp {
    width : auto;
      background-color : #a3fc65;
}

.textbox2 {
background: #D3D3D3; 
background: -moz-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D3D3), color-stop(38%,#D9D9D9), color-stop(82%,#E5E5E5), color-stop(100%,#E7E7E7)); 
background: -webkit-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -o-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -ms-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: linear-gradient(to bottom, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7',GradientType=0 ); 
display: block; 
padding: 12px 10px; 
color: #999; 
font-size: 1.2em; 
font-weight: bold; 
text-shadow: 1px 1px 1px  	#9ACD32; 
border: 1px solid rgba(16, 103, 133, 0.6); 
box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 1px 4px rgba(0, 0, 0, 0.2); 
border-radius: 8px; 
 outline:0; 
width:270px; 
}


.textbox { 
    background-color: #D7EFFF; 
    border: solid 1px #646464; 
    outline: none; 
    padding: 2px 2px; 
    border-radius:8px;
} 

.textbox:hover { 
    background-color: #FF0; 
} 

.textbox:focus { 
    background-color: #6FFF62; 
} 
.textbox:active { 
    background-color: #EB8D00; 
}

.font1 {
    font-family:Verdana;
    font-weight:bolder;

}

.labeladmin {
color: #B4886B;
font-weight: bolder;
display: block;
width: 270px;
height:70px;
float: left;
background-color: 	 	#1E90FF;
color:#F5FFFA;
font-size:x-large;
margin-bottom:20px;
margin-top:50px;
border:2px solid;
border-radius:20px;
text-align:center;
box-shadow: 10px 10px 5px #888888;
}

.labeladmin:after { content: ":" }

.bamsen {
/*background:url('Images/bamse.jpg');*/
width:150px;
border:red solid;
box-shadow: 10px 10px 5px black;
border-radius:7px;
}

.labelbamse {
color:  	 	#FF8C00;
font-weight: bolder;
display: block;
width:240px;
height:100px;
border:2px solid white;
border-radius:25px;
background-color: 	 	#8B4513;
margin-bottom:50px;
margin-top:50px;
font-size:xx-large;
text-align:center;
padding-top:10px;
box-shadow: 10px 10px 5px black;
}

.height2 {
    height:100px;
}

.bamseOnrepeat {
    border:5px solid LimeGreen;
    border-radius:10px;
background-color:  	#585858 ;
}

.text1 {
    text-shadow: 1px 1px 0px rgba(156, 202, 255, 1);
    font-size:large;
    font-weight:bold;
    color:  	#F8F8F8 ;
}
.Spelauppknapp {

   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0b3026;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   border:1px solid black;
   box-shadow:5px 5px 5px black;
   }
.Speluppknapp:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.Spelauppknapp:active {
   border-top-color: #d7dee3;
   background: #d7dee3;
   }

.td1 {
    background-color:LightSteelBlue ;

}

/*Esams CSS*/

.content {
display: inline-block;


}


.listaProdukt {
width: 1024px;
height: auto;


}
.produkt {
display: inline-block;
border-radius: 6px;
box-shadow: 1px 1px 1px 1px grey;
margin-top: 20px;
margin-left: 4px;
}


.esamsknapp {
    height: 50px;
    border-radius:5px;
    text-shadow:white;
    font-weight:bold;
    background-color: #3CB371;
    cursor:pointer;
    color:white;
    box-shadow:2px 2px 2px #1089C8;
    
}
.betalaknapp {
height: 60px;
width: 150px;
border-radius: 5px;
background-color: #3CB371;
font-weight: bold;
text-shadow: white;
color: white;
cursor:pointer;

}
.esamsknapp:hover {
background-color:#459e6b;

}
.betalaknapp:hover {
background-color:#459e6b;

}

.betala {
height:80px;
width:120px;
margin-bottom:10px;

}
.DDL {
    max-width: 240px;
    min-width: 240px;
    width: 240px !important;
    /*position : absolute;*/
   overflow : hidden;
   margin-top : 10px;
   background-color:white;
   border-radius: 8px;
}
.DDL2 {
    max-width: 70px;
    min-width: 70px;
    width: 70px !important;
    /*position : absolute;*/
   overflow : hidden;
   margin-top : 10px;
   background-color:white;
   border-radius: 8px;
}
.blueRow
      {
            background-color: lightgrey;
            color: black;
	        }
.whiteRow
      {
            background-color: white;
            color: black;
	        }



.bground {
    background-color: #DCDCDC;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 15px;
}

.tvatt {
    font-weight:bolder;
    font-size:x-large;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.enlabel {
    color: black;
    font-family:Verdana;
    font-weight:bolder;
    font-size: 15px;
}

.textbox3 {
    background-color: #D7EFFF;
    border: 1px solid #646464;
    outline:none;
    padding: 2px 2px;
    border-radius: 8px;
}

.PTLabels2 {
    color: #000000 !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
}

.texting {
    font-size:18px;
    font-weight:bold;
}