body{
background: url('http://i.imgur.com/x0ESsU4.jpg') center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size: cover;
/*Kevins ändreingar*/
margin-left:auto;
margin-right:auto;
}


/*body {
   background-image:url('http://4.bp.blogspot.com/-ZoLLbDLlnho/Utazvaj6ZbI/AAAAAAAAQ0Q/ZS-cK7KTTbM/s1600/Bamse%20och%20tjuvstaden%204.jpg');
   background-attachment:fixed;
   background-repeat:no-repeat;
   background-size:auto;
   width:100%;
   height:200%;

}*/
.headerIMG {
    /*height: 200px;*/
}

/*.center {
    margin-left: 30%;
}*/



/*.anchor {

        background-color:turquoise;
        box-shadow:white 2px 2px 2px;
        
}*/

        /*
.red{
    color:red;
}*/



.link { 
    background: #ff0303;  
     font-weight: bolder;
      color: white !important;
       font-size: 16px; 
       /*box-shadow: 1px 1px 1px #F9F9F9;*/ 
       padding: 15px 30px; 

       /*-moz-border-radius: 10px;
        -webkit-border-radius: 10px;*/ /*border-radius: 10px;*/ 
        }


.link ul li{

    text-align:center;
}


/*.color {
    background-color:red;*/


/*.h1 {
    color: red;
}*/

.imglink {
    text-decoration:none;
}

/*img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;

}

.knapp {
    float: left;
    margin-left:320px;
    margin-top: -400px;
    z-index:2;
}

.startimg {
    z-index:1;
}*/

.KortypLBL {    color: black !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
   
     padding-top : 15px;
}

.KortNummer {
       color: black !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
   position : relative;
  
}
KortNumBox {
    position : relative;
}

.PTLabels {
   background-color: #1E90FF;
    color: white !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
    border-radius: 5px;
}

.TackF {
    font-family: Verdana, Arial;
    font-size : xx-large;
    font-weight : bold;
    color : #646363;
    
}
.row-hoger {
float:right;


}

.row-vanster {
float: left;


}

.panel {
    opacity: 0.9;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px black;
    /*Kevins*/
    margin-left:auto;
    margin-top: 80px;
    margin-right:auto;
}

.newSagaIMG {
    float:left;
    margin-right: 170px;
    margin-top: 30px;
}

.menuitem {
    margin: 0 0 20px 0;
}

.gbtn {
    margin:auto;
    width : 130px;
    height : 70px;
    font-weight : bold;
    font-size : 15px;
    background-color : #6bd851;
    color : white;
    cursor:pointer;
     /*Kevins*/
    border-radius: 10px;
    box-shadow:1px 1px 1px 1px grey;
      border-width: 1px;
}
 /*Kevins*/
.gbtn:hover {
    background-color:darkgreen;

}

.gbtn2 {
    
    width : 170px;
    height : 70px;
    font-weight : bold;
    font-size : 15px;
    background-color : #3CB371;
    color : white;
     /*Kevins*/
    border-width: 1px;
  border-radius:10px;
    box-shadow:1px 1px 1px 1px grey;
    cursor:pointer;
    margin-top: 50px;

}
  /*Kevins*/
.gbtn2:hover {
    background-color:#459e6b;
}
.avbrytBtn {
    width: 120px;
    height: 70px;
    font-weight: bold;
    font-size: 15px;
    background-color: #FF0000;
    border-width: 1px;
    border-radius: 10px;
    text-shadow: white;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 1px 1px grey;
    margin-right: 30px;
}
  /*Kevins*/
 .avbrytBtn:hover {
        background-color:darkred;
    }

.payIMG {
    height : 50px;
}

.BetButton {
    margin: auto;
    width: 170px;
    height: 80px;
    font-size: 15px;
    /*font-family :  Arial;*/
    background-color: #1231ee;
    color: white;
    border-width: 5px;
   
}
 
    
    /*Paneler*/

.panelGreen {
 border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #a3fc65; 
  *zoom :1;
}

.panelW{
  
  border-style: solid;
  border-width: 1px;
  border-color: #F9F9F9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #F9F9F9; 
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  
}
.ItemTemp {
    width : auto;
      background-color : #a3fc65;
}

.textbox2 {
background: #D3D3D3; 
background: -moz-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D3D3), color-stop(38%,#D9D9D9), color-stop(82%,#E5E5E5), color-stop(100%,#E7E7E7)); 
background: -webkit-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -o-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -ms-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: linear-gradient(to bottom, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7',GradientType=0 ); 
display: block; 
padding: 12px 10px; 
color: #999; 
font-size: 1.2em; 
font-weight: bold; 
/*text-shadow: 1px 1px 1px  	#9ACD32;*/ 
border: 1px solid rgba(16, 103, 133, 0.6); 
box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 1px 4px rgba(0, 0, 0, 0.2); 
border-radius: 8px; 
 outline:0; 
width:270px; 
}


.textbox { 
    background-color: #D7EFFF; 
    border: solid 1px #646464; 
    outline: none; 
    padding: 2px 2px; 
    border-radius:8px;
} 

.textbox:hover { 
    background-color: #FF0; 
} 

.textbox:focus { 
    background-color: #6FFF62; 
} 
.textbox:active { 
    background-color: #EB8D00; 
}

.font1 {
    font-family:Verdana;
    font-weight:bolder;

}

.labeladmin {
color: #B4886B;
font-weight: bolder;
display: block;
width: 270px;
height:70px;
float: left;
background-color: 	 	#1E90FF;
color:#F5FFFA;
font-size:x-large;
margin-bottom:20px;
margin-top:50px;
border:2px solid;
border-radius:20px;
text-align:center;
box-shadow: 10px 10px 5px #888888;
  /*Kevins*/
padding-top:5px;
}

.labeladmin:after { content: ":" }

.bamsen {
/*background:url('Images/bamse.jpg');*/
width:150px;
border:red solid;
box-shadow: 10px 10px 5px black;
border-radius:7px;
}

.labelbamse {
color:  	 	#FF8C00;
font-weight: bolder;
display: block;
width:240px;
height:100px;
border:2px solid white;
border-radius:25px;
background-color: 	 	#8B4513;
margin-bottom:50px;
margin-top:50px;
font-size:xx-large;
text-align:center;
padding-top:10px;
box-shadow: 10px 10px 5px black;
}

.height2 {
    height:100px;
}

.bamseOnrepeat {
    /*border:5px solid LimeGreen;*/
      /*Kevins*/
    border-radius:7px;
background-color:  	white ;
box-shadow:2px 2px 2px 2px grey;
}

.text1 {
    text-shadow: 1px 1px 0px rgba(156, 202, 255, 1);
    font-size:large;
    font-weight:bold;
       /*Kevins*/
    color:  	black ;
    text-align:center;
}
.Spelauppknapp {

   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0b3026;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   border:1px solid black;
   box-shadow:5px 5px 5px black;
   }
.Speluppknapp:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.Spelauppknapp:active {
   border-top-color: #d7dee3;
   background: #d7dee3;
   }

.td1 {
    background-color:white;
         /*Kevins*/
     text-align:center;
}

/*Esams CSS*/

.content {
display: inline-block;


}


.listaProdukt {
width: 1024px;
height: auto;


}
.produkt {
display: inline-block;
border-radius: 6px;
box-shadow: 1px 1px 1px 1px grey;
margin-top: 20px;
margin-left: 4px;
}


.esamsknapp {
    
height: 50px;
   
 border-radius:5px;
   
 text-shadow:white;
    
font-weight:bold;
  
  background-color: 	#228B22;
   
 cursor:pointer;
   
 color:white;
   
 box-shadow:2px 2px 2px grey;
  
  /*font-family: Maggie Moo;*/
  
  font-size: 20px;
  
  border: 1px solid black;
    
}

.betalaknapp {

height: 80px;

width: 180px;

font-weight:bold;

border-radius: 8px;

background-color: #3CB371;

font-weight: bold;

font-size: 18px;

text-shadow: white;

color: white;

cursor:pointer;

margin-bottom:20px;

box-shadow:2px 2px 2px grey;

}


.esamsknapp:hover {
background-color:#459e6b;

}
.betalaknapp:hover {
background-color:#459e6b;

}

.betala {
height:80px;
width:120px;
margin-bottom:10px;

}
.DDL {
    max-width: 240px;
    min-width: 240px;
    width: 240px !important;
    /*position : absolute;*/
   overflow : hidden;
   margin-top : 10px;
   background-color:white;
   border-radius: 8px;
}
.DDL2 {
    max-width: 70px;
    min-width: 70px;
    width: 70px !important;
    /*position : absolute;*/
   overflow : hidden;
   margin-top : 10px;
   background-color:white;
   border-radius: 8px;
}
.blueRow
      {
            background-color: lightgrey;
            color: black;
	        }
.whiteRow
      {
            background-color: white;
            color: black;
	        }



.bground {
    background-color: #DCDCDC;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 15px;
}

.tvatt {
    font-weight:bolder;
    font-size:x-large;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 3% auto;

	padding: 5px 20px 13px 20px;
	border: 20px solid #eb0d27;
	background: #F9F9F9;
    font-family: Sanford;
   color: black;
    font-size: 20px;
     border-radius: 8px;
     text-shadow: 5px;

	/*background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);*/
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #eb0d27; }

.enlabel {
    color: black;
    font-family:Verdana;
    font-weight:bolder;
    font-size: 15px;
}

.textbox3 {
    background-color: #D7EFFF;
    border: 1px solid #646464;
    outline:none;
    padding: 2px 2px;
    border-radius: 8px;
}

.PTLabels2 {
    color: #000000 !important;
    font-family : Verdana;
    font-weight : bold;
    font-size : 12px;
}
/*Kevins*/
.menubutton {
    font-weight:bolder;

    font-size:15px;
}
.texting {
    font-size:18px;
    font-weight:bold;
}
/*Kevins*/
.center{
    text-align:center;
}

.panelW2 {
      border-style: solid;
  border-width: 1px;
  border-color: #F9F9F9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #F9F9F9; 
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  text-align:center;
  margin-left: 150px;
}

hr{
border: 0; 
height: 1px; 
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }

.redaktorRep {

    border-radius:7px;
    background-color:  	white ;
box-shadow:2px 2px 2px 2px grey;
}

.panelK {
  width: 1024px;
  height: auto;
    
  border-style: solid;
  border-width: 1px;
  border-color: #F9F9F9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #F9F9F9; 
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
  margin-top: 20px;
}

.listaProdukt {
width: 1024px;
height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #F9F9F9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #F9F9F9; 
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;


}
.produkt {
display: inline-block;

margin-top: 20px;
margin-left: 5px;
width: 230px;
height: auto;
background-color: #F9F9F9;
/*display: inline-block;
border-radius: 15px;
margin-top: 20px;
margin-left: 20px;
text-align:center;
border:solid 1px;*/

}

nav{
width:500px;
height: 50px;
/*background-image:url("http://i.imgur.com/6w9PC75.jpg");*/
/*border-radius: 4px;*/
  /*-moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
  /*box-shadow: 1px 1px 1px #F93532;*/
  text-align: center;
   /*border-top: 3px solid #FE7072;*/
      position: -webkit-sticky;  
    top: 0;  
    z-index: 1;  
    /*border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
    margin-left: 120px;
  
}



.redmenu{
width:305px;
height: 50px;
background-image: url("http://i.imgur.com/6w9PC75.jpg");
/*border-radius: 4px;*/
  /*-moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
  /*box-shadow: 1px 1px 1px #F93532;*/
  text-align: center;
   border-top: 3px solid #FE7072;
      position: -webkit-sticky;  
    top: 0;  
    z-index: 1;  
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left:320px;
}
.panelP {
width: 190px;
margin: 0;
height: 300px;

}

.listSagor {

    height: 100px;
   background-color: #F9F9F9;

}
.kolumn {
    background-color: #F9F9F9;
    border-style: solid;
    border-width: 1px;
    border-color: #F9F9F9;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
    margin-top: 20px;
}

.regbtn {
     
    width : 120px;
    height : 60px;
    font-weight : bold;
    font-size : 15px;
    background-color : #1E90FF;
    border-color:white;
    color : white;
    border-width: 2px;
    border-radius:10px;
    box-shadow:1px 1px 1px 1px grey;
    cursor:pointer;
}

.marginreg {

    margin-top:50px;

}

.textbox5 {
background: white;
display: block; 
padding: 12px 10px; 
color: black; 
font-size: 1.2em; 
font-weight: bold; 
/*text-shadow: 1px 1px 1px  	#9ACD32;*/ 
border: 1px solid rgba(16, 103, 133, 0.6); 
box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 1px 4px rgba(0, 0, 0, 0.2); 

 outline:0; 
width:270px; 
}

.textbox6 {
background: white;
display: block; 
padding: 12px 10px; 
color: black; 
font-size: 1.2em; 
font-weight: bold; 
/*text-shadow: 1px 1px 1px  	#9ACD32;*/ 
border: 1px solid rgba(16, 103, 133, 0.6); 
box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 1px 4px rgba(0, 0, 0, 0.2); 

 outline:0; 
width:570px; 
}

.errorLabels {
    visibility:hidden;
}

.nydiv {
    height:auto;
    border:solid 1px;
    background-color: 	 	white;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px black;
    text-align:center;
}

.marginleft {
    margin-left:20px;
}

.marginbtm {

    margin-bottom:20px;
}

.meny {
    border-bottom-right-radius:7px;
    border-top-right-radius:7px;
}

.meny2 {
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;

}

.menytext {

    font-family:'Comic Sans MS';
    font-weight:100;
}

.RepAdmin {
        border-radius:7px;
background-color:  	white ;
box-shadow:2px 2px 2px 2px grey;

}